<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body { font-family: Arial; background:#fff8f0; }
        .box {
            max-width:400px;
            margin:100px auto;
            background:white;
            padding:30px;
            border-radius:10px;
            text-align:center;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>✅ Password Reset Successful</h2>
    <p>You can now log in with your new password.</p>
    <a href="{% url 'login' %}">Login Now</a>
</div>

</body>
</html>