<!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
    <style>
        body { font-family: Arial; background:#fff8f0; }
        .box {
            max-width:400px;
            margin:100px auto;
            background:white;
            padding:30px;
            border-radius:10px;
            text-align:center;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>📩 Check Your Email</h2>
    <p>If the email exists, a reset link has been sent.</p>
    <a href="{% url 'login' %}">Back to Login</a>
</div>

</body>
</html>